.hsenv
hsenv.log
dist
cabal-dev
testbed
case-studies/**/*.spthy
case-studies/**/system.info
case-studies-regression/fast-tests/system.info
case-studies-sapic
case-studies-sequential
tamarin-prover-img
.cabal-sandbox/
cabal-sandbox/
cabal.sandbox.config
.stack-work/

*.spthy.out
*.spthy.tmp

*.hi
*.o
*.prof
*.un~
*~

*.cmi
*.cmo
plugins/sapic/lexer.ml
plugins/sapic/sapic

*.hpc
unit.tix

narrow
unit

client_session_key.aes

.DS_Store
tags
stack.yaml.lock

*.iml
.idea/
out/
