.hsenv
hsenv.log
dist
cabal-dev
testbed
case-studies
case-studies-sapic
case-studies-sequential
tamarin-prover-img
.cabal-sandbox/
cabal-sandbox/
cabal.sandbox.config
.stack-work/

*.hi
*.o
*.prof
*.un~
*~

*.cmi
*.cmo
plugins/sapic/lexer.ml
plugins/sapic/sapic

*.hpc
unit.tix

narrow
unit

client_session_key.aes
