.hsenv
hsenv.log
dist
dist-newstyle
cabal-dev
testbed
case-studies/**/*.spthy
case-studies/**/system.info
case-studies-regression/fast-tests/system.info
case-studies-sapic
case-studies-sequential
tamarin-prover-img
.cabal-sandbox/
cabal-sandbox/
cabal.sandbox.config
.stack-work/

*.spthy.out
*.spthy.tmp

*.hi
*.o
*.prof
*.un~
*~

*.hpc
unit.tix

narrow
unit


# MacOS-garbage
.DS_Store


# temporary files
client_session_key.aes
stack.yaml.lock

# proof files lying around
*.iml
*.pv

.idea/
out/

# editor-specific stuff
.vscode/
.zed/
tags
.worktree
.direnv
.envrc


**/benchmark
**/input

