dot-graph-viz g.node.clickable {
  cursor: pointer;
}

dot-graph-viz g.highlighted>g.active {
  opacity: 1;
}

dot-graph-viz g.highlighted>g:not(.active):not(.abbrev-table) {
  opacity: 0.2;
}

dot-graph-viz text.abbrev {
  cursor: pointer;
}

dot-graph-viz text.abbrev:hover {
  text-decoration: underline;
  fill: blue;
}

dot-graph-viz {
  width: 100%;
  height: 100%;
  display: block;
}
dot-graph-viz>svg{
  width: 100%;
  height: 100%;
  display: block;
}