/* Common Style
 **************/

html, body {
    font-family:
        'DejaVu Sans',      /* Linux */
        'Liberation Sans',  /* Linux/RedHat */
        'Geneva',           /* Mac OS X */
        'Arial',            /* Windows */
        sans-serif;         /* Fallback */
    background: #fff;
    font-size: 0.95em;
    padding: 0px;
    margin: 0px;
}

a {
    color: #203ab7;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

a.active-link {
    background: #ffffb0;
}

.monospace {
    font-size: 0.9em;
    font-family:
        'DejaVu Sans Mono', /* Linux */
        'Liberation Mono',  /* Linux/RedHat */
        'Monaco',           /* Mac OS X */
        'Lucida Consola',   /* Windows */
        monospace;          /* Fallback */
}

p.loading, p.message {
    position: fixed;
    z-index: 999999;
    margin: 0;
    padding: 0.6em 0.5em 0.5em 0.5em;
    right: 0.3em;
    bottom: 0.3em;
    font-size: 1em;
    line-height: 1.2em;
    background: #dddddd;
    border: solid 2px #2067fe;
    font-weight: bold;
    text-align: left;
    border-radius: 0.5em;
}

p.loading {
    display: none;
    padding-left: 1.8em !important;
    background-image: url(/static/img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 0.4em;
    background-size: 1.2em;
}

div.content {
    margin: 0.5em;
}

div.intropage {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img.icon {
    padding: 0;
    margin: 0;
    height: 1em;
}

/* Messages to the user
 *********************/

div.warning {
    margin: 1em;
    padding: 2em;
    background: #ffdddd;
    border: solid 2px #ff8080;
    font-weight: bold;
    text-align: center;
    font-size: large;
}


/* Highlighting Styles
 *********************/

.hl_comment {
    color: #808080;
}

.hl_keyword {
    font-weight: bold;
}

.hl_operator {
    color: #a00000;
}

.hl_good {
    background: #bbeebb;
}

.hl_bad {
    background: #eecccc;
}

.hl_superfluous {
    color: #907070;
}

.keys {
    font-weight: bold;
    font-size: 1.1em;
    color: #003040;
    font-family:
        'DejaVu Sans Mono', /* Linux */
        'Liberation Mono',  /* Linux/RedHat */
        'Monaco',           /* Mac OS X */
        'Lucida Consola',   /* Windows */
        monospace;          /* Fallback */
}

.tamarin {
    font-family: Roman,serif;
    font-variant: small-caps;
}

/* Specific Styles
 *****************/

.ui-dialog-content {
    font-size: 0.85em;
}

div#dialog {
    display: none;
}

span#err {
    color: #800000;
    font-weight: bold;
}

span#loading img {
    vertical-align: middle;
}

p.rules {
    margin-top: 0em;
    padding-top: 0em;
}

img.graph {
    border: solid 2px #3a6c78;
}

div#help {
    border: solid 1px #000000;
    background: #dfeff1;
    padding: 0.5em;
    margin: 0px;
    margin-bottom: 0.5em;
}

/* Forms
 *******/

form {
    width: 100%;
    height: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
}

div.tooltip {
    display: none;
}

div.required {
    width: 100%;
    height: 90%;
    margin-bottom: 3.5em;
}

textarea {
    display: block;
    width: 100%;
    height: 100%;
}

form.root-form div.required {
    height: auto;
    margin-bottom: 0;
}

form.root-form div.required label {
    display: none;
    font-weight: bold;
}

/* Navigation
 ************/

a.active-option {
    background-image: url(/static/img/option-light.png) !important;
    background-repeat: no-repeat !important;
    background-position: 14.1em center !important;
}

a.inactive-option {
    background-image: url(/static/img/option-dark.png) !important;
    background-repeat: no-repeat !important;
    background-position: 14.1em center !important;
}

a.disabled-option {
    background-image: url(/static/img/option-off.png) !important;
    background-repeat: no-repeat !important;
    background-position: 14.1em center !important;
}

a.remove-step {
    height: 1em;
    padding: 0 1em 0 1em;
    background-image: url(/static/img/delete.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 1em;
    /* Standard */
    opacity: 0;
    /* Trident */
    filter: alpha(opacity=0);
}

a.edit-link:hover, a.delete-link:hover {
    background: none;
}

a.proof-step:hover + a.remove-step {
    /* Standard */
    opacity: 0.5;
    /* Trident */
    filter: alpha(opacity=50);
}

a.remove-step:hover {
    /* Standard */
    opacity: 1;
    /* Trident */
    filter: alpha(opacity=100);
}

ul#navigation {
    list-style: none;
    float: right;
    margin: 0em;
    padding: 0em;
    margin-right: 0.3em;
}

ul#navigation li {
    float: left;
    width: 11em;
    display: inline;
    margin-right: 0.8em;
    position: relative;
    z-index: 999;
    padding-left: 0.5em;
}

ul#navigation li a {
    display: block;
    color: #000;
    width: 100%;
    margin-top: 0em;
    border-radius: 0.3em;
    padding: 0.3em;
    border: solid 1px #3a6c78;
    /* Gecko */
    background:
      -moz-linear-gradient(
        top,
        #dfeff1 0%,
        #7dc0cd 100%);
    /* Presto */
    background:
      -o-linear-gradient(
        top,
        #dfeff1 0%,
        #7dc0cd 100%);
    /* Webkit */
    background:
      -webkit-linear-gradient(
        top,
        #dfeff1 0%,
        #7dc0cd 100%);
    /* Trident */
    filter:
      progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#dfeff1',
        endColorstr='#7dc0cd',
        GradientType=0 );
}

ul#navigation li a:hover {
    background: #ccc;
    /* Standard */
    opacity: 0.8;
    /* Trident */
    filter: alpha(opacity=80);
}

ul#navigation li ul {
    width: 13em;
    display: none;
    list-style: none;
    margin-left: -0.8em;
    padding: 0.3em 0 0 0;
    /* Standard */
    opacity: 0.8;
    /* Trident */
    filter: alpha(opacity=80);
}

ul#navigation li ul li {
    width: 100%;
    margin: 0em;
    padding: 0em;
    background: #000;
    font-size: 0.8em;
    border-bottom: solid 1px #666;
}

ul#navigation li ul li:first-child {
    border-radius: 0.5em 0.5em 0 0;
}

ul#navigation li ul li:last-child {
    border-radius: 0 0 0.5em 0.5em;
    border-bottom: none;
}

ul#navigation li ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0.5em;
    background: none;
    border: none;
}

ul#navigation li ul li a:hover {
    background: none;
}

ul#navigation li ul li:hover {
    background: #666;
}

/* Tables
 ********/

table {
    border-collapse: collapse;
    border: solid 2px #3a6c78;
}

table th {
    text-align: left;
    padding: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
    background: #dfeff1;
    /*
     * border: solid 1px #3a6c78;
     */
    border-bottom: solid 1px #e3fcff;
}

table td {
    background: #fff;
    text-align: left;
    padding: 0.5em;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px #3a6c78;
}

/* Headings
 **********/

h1.pane-head {
    z-index: inherit;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    margin: 0em;
    padding: 25px;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
    background: #dfeff1;
    border-bottom: solid 1px #eff7f8;
    border-top: solid 1px #3a6c78;
    /* border-top: solid 5px #3a6c78; */
    width: 100%;
    /* Gecko */
    background:
      -moz-linear-gradient(
        top,
        #3a6c78 0%,
        #dfeff1 20%);
    /* Presto */
    background:
      -o-linear-gradient(
        top,
        #3a6c78 0%,
        #dfeff1 20%);
    /* Webkit */
    background:
      -webkit-linear-gradient(
        top,
        #3a6c78 0%,
        #dfeff1 20%);
    /* Trident */
    filter:
      progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#66b9cd',
        endColorstr='#dfeff1',
        GradientType=0 );
}

h1 {
    font-size: 1.5em;
    z-index: inherit;
}

h2 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1.2em;
}

h3 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1em;
}

h4 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 1em;
}

/* Layout
 ********/

.ui-layout-north {
    z-index: 2 !important;
}

.ui-layout-east, .ui-layout-west, .ui-layout-center {
    z-index: 1;
    padding: 0em;
    margin: 0em;
    border: none;
    overflow: hidden;
}

.scroll-wrapper {
    position: absolute;
    top: 2.4em;
    bottom: 0em;
    left: 0em;
    right: 0em;
    padding: 0em;
    overflow: auto;
}

#ui-main-display, #ui-debug-display, #proof {
    z-index: inherit;
    padding: 0.8em;
    padding-top: 25px;
    padding-left: 25px;		/* propagate to ui-layout-pane-north and pane-head */
    padding-right: 25px;		/* propagate to ui-layout-pane-north and pane-head */
    margin: 0em;
    height: 90%;
}

#ui-debug-display {
    font-size: 0.75em;
}

.ui-layout-pane {
    background: #fff;
}

.ui-layout-pane-north {
    font-size: 0.8em;
    padding-left: 25px;
    padding-right: 25px;
    background: #dfeff1;
    border-bottom: solid 1px #7dc0cd;
    /* Gecko */
    background:
      -moz-linear-gradient(
        top,
        #dfeff1 0%,
        #66b9cd 100%);
    /* Presto */
    background:
      -o-linear-gradient(
        top,
        #dfeff1 0%,
        #66b9cd 100%);
    /* Webkit */
    background:
      -webkit-linear-gradient(
        top,
        #dfeff1 0%,
        #66b9cd 100%);
    /* Trident */
    filter:
      progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#dfeff1',
        endColorstr='#66b9cd',
        GradientType=0 );
}

div#header-info {
    float: left;
    font-weight: bold;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    border: 0px;
}

div#header-links {
    float: right;
    font-weight: bold;
    padding: 0.5em;
}

div#header-links a.plain-link,
div#header-links a.save-link {
    margin: 0em;
    padding: 1em;
    padding-bottom: 0;
    line-height: 2em;
}

.ui-layout-resizer {
    background-color: #3a6c78;
    z-index: 1 !important;
}

.ui-layout-toggler {
    background-color: #666666;
    border-radius: 1em;
}

/* Logo
 ********/

div#introbar {
  height: 3em;
}

div#logo p {
    height: 124px;
	left: 0px;
	right: 0px;
	background-color: #c3ea71;
	padding: 0px;
	margin: 0px;
/*
	background-image: url('file:///home/cas/src/tamarin-prover/images/tamarin-logo-3-1-0.png');
*/
    background-image: url('/static/img/tamarin-logo-3-1-0.png');
    background-repeat: repeat-x;
}

div#logo img {
    position: relative;
    top: 0px;
	left: 0px;
	display: inline;
}

